name: Flask CI

on:
  push:
    branches: [ main ]

jobs:
  build-test-docker:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install Dependencies
      run: pip install -r requirements.txt

    - name: Set Python Path
      run: echo "PYTHONPATH=$PWD" >> $GITHUB_ENV

    - name: Run Tests
      run: pytest --cov

    - name: Build Docker Image
      run: docker build -t ai-app .
